#navbar {
  background-color: #54BAB9;
}

.ml-auto {
  margin-left: auto !important
}

#navbarNav {
  margin-bottom: 10px;

}

.navbar-brand {
  font-size: 40px;
  font-family: 'Rowdies', cursive;
}

.icon:hover {
  opacity: 0;
}


.light-icon {
  position: absolute;
  left: 12px;
  opacity: 0;
}

.light-icon:hover {
  opacity: 1;
}


.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.2rem;
}

.divider {
  height: 6px;
  background-color: #191A19;
  padding: 0;
  margin: 0;
}

.divider-down{
  height: 5px;
  background-color: #191A19;

}

#news {
  background-color: #F2EBE9;
}

.hr {
  margin: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.title{
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  padding-top: 15px;
  color: black;
}

.maintitle {
  margin-left: 10px;
  margin-top: 30px;
  text-align: center;

}

.legenda {
  margin-left: 13px;
  opacity: 0.9;
  text-align: center;
}

.imagem {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.subimagem {
  font-size: 15px;
  margin-left: 320px;
}

.texto {
  font-size: 30px;
  margin-left: 120px;
  margin-right: 100px;
  margin-top: 20px;
}

.graphtext {
  text-align: center;
  color: #F32424;
  font-size: 25px;
}


.resposta {
  text-align: center;
  opacity: 0.9;
  font-size: 29px;
  margin-top: 40px;

}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


.bot-container {
  text-align: center;
  background-color: #54BAB9;
  padding: 5px 0 5px 0;
}

.copyright {
  color: #DDDDDD;
  padding-top: 10px;
}

.dividerb {
  height: 5px;
  background-color: #191A19;
  padding: 0;
  margin: 0;
}


.row {
  margin:0;
}

.fa-circle-exclamation {
  font-size: 75px;
  color: #F24C4C;

}

.fa-circle-exclamation:hover {
  opacity: 0.9;
}

.erro-row {
  text-align: center;
  padding: 10% 7%;

}

.erro {
  line-height: 40px;
}

.erro2 {
  text-align: center;
}
