
#title {
  background-color: #54BAB9;

}

.ml-auto {
  margin-left: auto !important
}

#navbarNav {
  margin-bottom: 25px;
}

.navbar-brand {
  font-size: 40px;
  font-family: 'Rowdies', cursive;
}

.icon:hover {
  opacity: 0;
}


.light-icon {
  position: absolute;
  left: 0px;
  opacity: 0;
}

.light-icon:hover {
  opacity: 1;
}


.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.2rem;
}

.container-fluid1 {
  padding: 1% 10% 5.5% 10% ;
}

.container-fluid {
  padding-left: 0;
}


.title-text {
  color: #FFF8F3;
  font-family: 'Staatliches', cursive;
  font-size: 64px;
  line-height: 1.5;
  margin-top: 50px;
}

.subtitle {
  color: #FFF8F3;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
}

.btn {
  margin-top: 50px;
}

.register {
  margin-left: 10px;
}


.sample {
  width: 350px;
  height: 500px;
  margin-top: -15px;
  margin-bottom: 65px;
  margin-left: 150px;
  /* transform: rotate(25deg); */
}

.row {
  margin: 0;
}


#mid-body {
  background-color: #DBD0C0;
}

.divider {
  height: 8px;
  background-color: #191A19;
}

.fa-circle-check {
  font-size: 80px;
  opacity: 0.96;
}

.fa-circle-check:hover {
  opacity: 1;
}

.fa-comment-check{
  font-size: 80px;
  opacity: 0.96;
}

.fa-trophy:hover {
  opacity: 1;
}

.fa-shield {
  font-size: 80px;
  opacity: 0.96;
}

.fa-shield:hover {
  opacity: 1;
}

.mid-row {
  text-align: center;
  padding: 10% 7%;
}

.mid-h3 {
  margin-top: 20px;
  font-size: 35px;
}

.mid-p {
  font-size: 20px;
}



#footer {
  text-align: center;
  background-color: #9A0680;
}

.copyright {
  margin: 0;
  color: #FFF8F3;
}

#main {
  text-align: center;
}

.fa-circle-exclamation {
  font-size: 75px;
  color: #F24C4C;

}

.fa-circle-exclamation:hover {
  opacity: 0.9;
}

.erro-row {
  text-align: center;
  padding: 10% 7%;

}

.erro {
  line-height: 40px;
}

.sobre-row {
  text-align: center;
  padding: 5% 5%;
}

.sobretitulo {
  margin-top: 25px;
}

.sobretexto {
  margin-top: 150px;
  font-style: italic;
  opacity: 0.9;
}

.fa-circle-info {
  font-size: 75px;
  color: #54BAB9;
}

.erro3 {
  position: relative;
  top: 40px;
}

.fa-circle-question {
  font-size: 75px;
  color: #54BAB9;
}
